@CHARSET "UTF-8";
.container-fluid{padding-right: 0px; padding-left: 0px;overflow: hidden;}
body{font-family: Tahoma, Helvetica, "Microsoft Yahei", "微软雅黑", Arial, STHeiti;}
.navbar{background-color: #4AA3DB;max-height: 50px;min-height: 50px;}
.navbar_top_left{color: #ffffff;font-size: 30px;line-height: 50px;float: left;}
.navbar_top_left span{font-size: 18px;}
.navbar_top_middle{float: left;margin-left: 50px;font-size: 16px;color: #ffffff;line-height: 50px;}
.navbar_top_middle span{margin-left: 25px;cursor: pointer;}
.navbar_top_middle span a{text-decoration: none;color: #ffffff;}
.navbar_top_middle span a:hover{color:#EE4000}
.navbar_top_right{float: right;line-height: 50px;cursor: pointer}
.button_person{cursor: pointer}
.navbar_top_right{width: 300px;text-align: center;}
.navbar_top_right button{margin-left: 10px;}
.navbar_top_right .badge{background-color: #d9534f;}
.button_person img{width: 35px;height: 35px;}
.button_person span{color: #ffffff;}
.person_index_my{line-height: 35px;padding-left: 10px;padding-right: 10px;border: 0px solid #4AA3DB;border-radius: 4px;}
.person_index_my:hover{background-color: #4AA3DB;color: #ffffff}
.index_middle{margin-top: 60px;}  
.index_middle_main{max-width: 1300px;}
.index_middle_main_left{width: 200px;float: left;}
.index_middle_main_left_title{font-size: 16px;line-height: 50px;font-weight: 700;}
.badge{background-color: #5cb85c;}
.index_middle_main_middle{width: 850px;float: left;vertical-align: middle;text-align: center;padding-left: 40px;}
.index_middle_main_middle_top{height: 42px;margin-top: 20px;}
.message_header{font-size: 18px;font-weight: 700;margin-top: 25px;}
.message_header span{color: #eea236;}
.message_main{height: 118px;}  
.message_bottom{font-size: 12px;color: #999;margin-left: 70%;}
.message_bottom a{font-size: 12px;color: #999;padding: 3px 7px;border-radius: 4px;}
.message_bottom a:hover{background-color: #eff6fa;color: #698ebf;}
.index_middle_main_right{width: 220px;float: right;}
.right_search{height: 30px;}
.right_search input{height: 30px;width: 76%;float: left;}
.right_search button{height: 30px;width: 20%;float: left;margin-left: 5px;}
.right_hot{margin-top: 20px;}
.right_hot .badge{min-width: 50px;padding: 5px 10px;margin-top: 10px;background-color: #ffffff;border: 1px solid #daecf5;color: #428bca;}
.right_hot .badge:hover{color: #ffffff;background-color: #4169E1;}
.back_to_top{display:none; position:fixed;bottom:100px;right:180px;width: 45px;height: 45px;border-radius: 4px;border: 1px solid #428bca;background-color:#4AA3DB;text-align: center; line-height: 45px;font-size: 28px;color: #ffffff;}
.back_to_top a{ text-decoration:none; color: #ffffff;-moz-transition:color 1s;-webkit-transition:color 1s;-o-transition:color 1s; }
.back_to_top a:hover{color:#FFF8DC;}
.index_bottom{text-align: center;margin-top: 20px;font-size: 12px;float: left;margin-bottom: 20px;width: 850px;}
.list-group-item:hover{z-index: 2;color: #fff;background-color: #428bca;border-color: #428bca;}
.list-group-item:hover > .badge{color: #428bca;background-color: #ffffff;}
a.list-group-item:hover, a.list-group-item:focus {color: #fff; text-decoration: none;background-color: #428bca; }
.login_input{margin-top: 20px;width: 100%;height: 30px;}
.index_button{width: 100%;margin-top: 20px;line-height: 30px;}
#basic-addon-name{background-color: #1FB175;border: 0px solid #1FB175; color: #ffffff;}
#basic-addon-password{background-color: #E4B44C;border: 0px solid #E4B44C; color: #ffffff;}
.remember_psw{float: left;}
.remember_psw input {vertical-align: middle;}
.remember_psw span {font-size: 12px;vertical-align: middle;color: #666;}
.forget_res{float: right;font-size: 12px;}
.forget_res a{text-decoration: none;padding: 5px 5px;}
.forget_res a:hover{color: #ffffff;background-color: #4169E1;border-radius: 4px;}
.other_account{margin-top: 20px;font-size: 12px;vertical-align: middle;color: #666;}
.other_account_span{border-bottom: 1px solid #D3D3D3;line-height: 30px;}
.other_account_img a img{height: 30px;width: 30px;margin-left: 20px;margin-top: 10px;}
#basic-addon-res{color: #ffffff;background-color: #4AA3DB;border: 1px solid #4AA3DB;}
.res_code{margin-top: 20px;width: 100%;height: 30px;}
.res_input_code{width: 60%;margin-right: 10px;float: left;}
.res_input_send{float: right;}
.res_input_send img{width: 120px; height: 35px;}
.personal_left{width: 200px;border:  1px solid #ddd;text-align: center;height: 600px;border-radius: 6px; float: left;width: 100%;}
.personal_left_head img{margin-top: 20px;width: 125px;height: 125px;}
.personal_left_head label {margin-top: 5px;font-size: 12px;}
.personal_left_order{float: left;width: 100%;}
.personal_left_ordermsg{margin-top: 20px;height:30px;border: 1px solid #ddd;border-radius: 6px;line-height: 30px;color:#4AA3DB; cursor: pointer;float: left;width: 100%;}
.personal_left_ordermsg span{padding-right: 10px;}
.personal_left_ordermsg:hover{background-color: #4AA3DB;border: 1px solid #4AA3DB;color:#ffffff;}
.personal_left_ordermsg .badge{float: right;}
.personal_right{float: left;margin-left: 50px;width: 850px;border-radius: 6px;}
.personal_right_header{float: left;width: 100%;padding-top: 20px;border-bottom: 1px solid #d58512;height: 50px;}
.personal_right_title{float: left;margin-left: 20px;font-size: 16px;color: #4AA3DB;}
.personal_right_title span{margin-right: 5px;}
.personal_right_tab{margin-top: 60px;}
.mywatch{width: 100%;border: 1px solid #4AA3DB;margin-top: 20px;border-radius: 6px;height: 100px;}
.mywatch_title{width: 100%;float: left;font-size: 12px;margin-top: 10px;height: 30px;}
.mywatch_title_header{float: left;padding-left: 50px;}
.mywatch_title_header img{width: 18px;height: 18px;}
.mywatch_title_header a{text-decoration: none;}
.mywatch_title_header a:hover{color: #eea236;text-decoration: underline;}
.mywatch_title_date{float: right;padding-right: 50px;}
.mywatch_derc{width: 100%;float: left;padding-left: 68px;font-size: 12px;padding-right: 50px;text-align: left;}

